<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ENTRENAR MODELO</title>

</head>
<body>
    <form action="/modelos/datosentrenar/" method="post">
        <label for="IMAGE_SIZE">IMAGE_SIZE: </label>
        <input type="text" id="IMAGE_SIZE" name="IMAGE_SIZE" /><br>
        <label for="BATCH_SIZE">BATCH_SIZE: </label>
        <input type="text" id="BATCH_SIZE" name="BATCH_SIZE" /><br>
        <label for="filters">filters: </label>
        <input type="text" id="filters" name="filters" /><br>
        <label for="kernel_size">kernel_size: </label>
        <input type="text" id="kernel_size" name="kernel_size" /><br>
        <label for="activation">activation: </label>
        <input type="text" id="activation" name="activation" /><br>
        <label for="units">units: </label>
        <input type="text" id="units" name="units" /><br>
        <input type="submit" id="send-signup" name="signup" value="Registrar" />
    </form>


</body>
</html>






