<!DOCTYPE html>
<html>
<head>
    <title>Tabla de parámetros</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: center;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Tabla de parámetros</h1>
    <table>
        <tr>
            <th>Filtros</th>
            <th>Kernel</th>
            <th>Name</th>
            <th>Activation</th>
            <th>Units</th>
        </tr>
        
        <tr>
            <td>{{filtros}}</td>
            <td>{{kernel}}</td>
            <td>{{name}}</td>
            <td>{{activation}}</td>
            <td>{{units}}</td>
        </tr></table>
        <br><br>
        <table>
        <tr>
            <th>Full Data 1</th>
        </tr>        
                <tr>
            <td>{{full_data1}}</td>
        </tr>
        </table>
        <br>
        <table>
        <tr>    <th>Full Data 2</th></tr>
        <tr>
            <td>{{full_data2}}</td>
        </tr>
        </table>
        <table>
        <tr>    <th>Full Data 3</th></tr>
        <tr>
            <td>{{full_data3}}</td>
        </tr>
        
    </table>
    <br><br>
    <table>
        <tr>
            <th>Metricas del modelo {{back_modelo}}</th>
        </tr>
        <tr>
            <th>Loss</th>
        </tr>
        <tr>
        <td>
               {{loss}}
            </td>
            </tr>
            <tr>
                <th>Val Loss</th>
            </tr>
            <tr>
            <td>
                   {{val_loss}}
                </td>
                </tr>
                <tr>
                    <th>Accuracy</th>
                </tr>
                <tr>
                <td>
                       {{acc}}
                    </td>
                    </tr>
                    <tr>
                        <th>Val Accuracy</th>
                    </tr>
                    <tr>
                    <td>
                         {{val_acc}}
                        </td>
                        </tr>
            

    </table>



</body>
</html>