<!DOCTYPE html>
<html>
<head>
    <title>Resultado Prediccion</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: center;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Resultado Prediccion</h1>
    <table>
        <tr>
            <th>Archivo</th>
            <th>% Blur</th>
            <th>% Sharp</th>
            <th>Resultado</th>
                    </tr>
        
        <tr>
            <td>{{archivo}}</td>
            <td>{{sharp}}</td>
            <td>{{blured}}</td>
            <td>{{resultado}}</td>
            
        </tr></table>
        
<table>
    <tr>
        <th>Brillo</th><th>Contraste</th>
    </tr>
    <tr><td>{{brillo}}</td><td>{{contraste}}</td></tr>
</table>

</body>
</html>